@model WebApplication3.Models.Patient



<div>
   <form method="post" action="CreatePatient">
        <input type="text" placeholder="Enter Patient Name:" asp-for="name" />
        <input type="text" placeholder="Enter Patient Mob no.:" asp-for="phone" />
        <input type="submit" value="submit" />
   </form>
    
    
</div>