@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:darkred">@ViewBag.Message</h1>
    <h4 style="color:blue">@ViewData["myData"]</h4>
    <h1 class="display-4">Welcome Home</h1>
    <img src="/images/Screenshot 2026-02-10 152012.png" style="height:20vw; width:20vw" alt="Alternate Text" />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
