@model DriveSyncMvc.Models.LoginViewModel

<h2>Login User</h2>

<form method="post" action="/Account/Login">

    <div>
        <label>Email</label>
        <input type="email" name="Email" />
    </div>
    <br />
    <div>
        <label>Password</label>
        <input type="password" name="Password" />
    </div>
    <br />
    <button type="submit">Login</button>

</form>